<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="container d-flex gap-4 py-3">
        <% if(data) { %>
            <div class="movie-poster shadow">
                <img src="/uploads/<%= data.image %>" alt="Movie poster">
            </div>
            <div>
                <h5 class="mb-3"><%= data.title %></h5>
                <h6 class="badge bg-warning text-dark"><i><%= data.author %></i></h6>
                <p><%= data.desc %></p>
            </div>
        <% } else{ %>
                <h4 class="text-danger text-center">Data empty.</h4>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>